@media screen and (max-width: 1110px) {
    .customer-box {
        width: 800px;
    }

    input {
        width: 300px;
        height: 43px;
        border-radius: 10px;
        border: 1px solid #644592;
        padding: 10px;
    }
}

@media screen and (max-width: 815px) {
    .customer-box {
        width: 650px;
        height: 750px;
    }

    input {
        width: 250px;
    }

    .actionBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 670px) {
    .customer-box {
        width: 550px;
    }

    input {
        width: 350px;
    }

    .cus-input {
        flex-direction: column;
        gap: 10px;
    }

    .hiddenOne{
        display: none;
    }

    .inputs {
        margin: 20px 120px;
        gap: 5px;
    }

    .table-hover{
        width: 500px !important;
        font-size: 13px;
    }
}

@media screen and (max-width: 560px) {
    .customer-box {
        width: 450px;
    }

    input {
        width: 300px;
    }

    .cus-input {
        flex-direction: column;
        gap: 10px;
    }

    .hiddenOne {
        display: none;
    }

    .inputs {
        margin: 20px 120px;
        gap: 5px;
    }

    .girl-img-customer {
        width: 400px;
    }

    .cus-table {
        margin: 70px 0px;
    }

    th{
        font-size: 13px;
    }

    .table-hover {
        width: 300px !important;
    }

    .btn {
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 520px) {
    .btn {
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .table-hover {
        font-size: 10px;
    }
}

@media screen and (max-width: 460px) {
    .customer-box {
        width: 340px;
    }

    input {
        width: 270px;
    }

    .hiddenOne {
        display: none;
    }

    .customer-box>form>h2 {
        font-size: 26px;
    }

    .emailCol{
        display: none;
    }

    .emailJs{
        display: none;
    }

    .girl-img-customer {
        width: 350px;
    }
}
